---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Hours from "../components/Hours.astro";
import Access from "../components/Access.astro";
import Reservation from "../components/Reservation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="勾当台夕方内科クリニック | 仙台市国分町の夕方診療">
  <Header />
  <main>
    <Hero />
    <About />
    <Hours />
    <Access />
    <Reservation />
  </main>
  <Footer />
</Layout>
