---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Doctor from "../components/Doctor.astro";
import Hours from "../components/Hours.astro";
import Access from "../components/Access.astro";
import Reservation from "../components/Reservation.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="勾当台夕方内科クリニック | 仙台市勾当台公園駅近くの夕方診療【2026年4月開院予定】">
  <Header />
  <main>
    <Hero />
    <About />
    <Doctor />
    <Hours />
    <Access />
    <!-- <Reservation /> -->
  </main>
  <Footer />
</Layout>
