---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Doctor from "../components/Doctor.astro";
import Hours from "../components/Hours.astro";
import Access from "../components/Access.astro";
// import Recruit from "../components/Recruit.astro";
import Reservation from "../components/Reservation.astro";
import InsuranceBanner from "../components/InsuranceBanner.astro";
import News from "../components/News.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="勾当台夕方内科クリニック | 仙台で夜21時まで診療・健診再検査・仕事帰りに通える内科">
  <Header />
  <main>
    <Hero />
    <InsuranceBanner />
    <News />
    <About />
    <Hours />
    <Reservation />
    <Access />
    <Doctor />
    <!-- <Recruit /> -->
  </main>
  <Footer />
</Layout>
